__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.pth
*.pt
checkpoints/
data/raw/
data/preprocessed/
*.csv
wandb/
.vscode/
.idea/
.ipynb_checkpoints/
results/
submission.csv
*.pdf
!fig/*.pdf
